spring:
    datasource: 
        url: jdbc:oracle:thin:@localhost:1521:XE
        driver-class-name: oracle.jdbc.driver.OracleDriver
        username: SPRING_BOOT
        password: 1234
#    mvc:
#        view:
#            prefix: /WEB-INF/views/
#            suffix: .jsp
    servlet:
        multipart:
            max-file-size: 104857600
            max-request-size: 10485760
            
mybatis:
    config-location: classpath:mybatis/mybatis-config.xml
    mapper-locations: classpath:com/example/demo/**/dao/mapper/*.xml
    
app:
    multipart:
        base-dir: C:/uploadfiles
        obfuscation: 
            enable: true
            hide-ext:
                enable: true
